/*
 * custom css
*/
/*
    link:连接平常的状态
    visited:连接被访问过之后
    hover:鼠标放到连接上的时候
    active:连接被按下的时候
*/
a:hover,a:active{
    text-decoration: none;
}

#vm{
    display: none;
}

#loading{
    margin-bottom: 15px;
}

#error{
    display: none;
    margin-bottom: 15px;
}
