{% extends '__base__.html' %}

{% block title %}编辑日志{% endblock %}

{% block beforehead %}
<link rel="stylesheet" href="/static/css/components/upload.css">
<script src="/static/js/components/upload.js"></script>
<script>

var
    ID='{{ id }}',
    action='{{ action }}',
    image='';


function initVM(blog){
    var vm=new Vue({
        el:'#vm',
        data:blog,
        methods:{
            submit:function(event){
                event.preventDefault();
                var $form=$('#vm').find('form');
                // alert("get in submit"+blog);
                this.$data.image=image;
                $form.postJSON(action,this.$data,function(err,r){
                    // alert("get in post");
                    if (err){
                        $form.showFormError(err);
                    }
                    else{
                        return location.assign('/api/blogs');
                    }
                });
            }
        }
    });
    $('#vm').show();
}

$(function(){
    var
        blog_data=null;
    if (ID){
        // getJSON('/api/blogs/'+ID,function(err,blog){
        //     // alert("get the ID:"+ID)
        //     if (err){
        //         return fatal(err);
        //     }
        //     $('#loading').hide();
        //     initVM({
        //         name:blog.name,
        //         summary:blog.summary,
        //         content:blog.content,
        //         image:''
        //     });
        // });
        console.log(ID);
        getJSON('/api/blogs/'+ID,function(err,result){
            $('#loading').hide();
            blog_data=result;
            console.log(blog_data);
                    initVM({
            name:blog_data.name,
            summary:blog_data.summary,
            content:blog_data.content,
            image:''
        });
        });
        console.log('blog_data');
        console.log(blog_data);
        // initVM({
        //     name:blog_data.name,
        //     summary:blog_data.summary,
        //     content:blog_data.content,
        //     image:''
        // });

    }
    else{
        $('#loading').hide();
        initVM({
            name:'',
            summary:'',
            content:'',
            image:''
        });
    }

    //upload
            var progressbar = $("#progressbar"),
            bar         = progressbar.find('.uk-progress-bar'),
            settings    = {

            action: '/api/upload/image', // 上传路径 url

            allow : '*.(jpg|jpeg|gif|png)', // 只允许上传图片

            single : true,

            type: 'json',

            loadstart: function() {
                bar.css("width", "0%").text("0%");
                progressbar.removeClass("uk-hidden");
            },

            beforeAll: function(files){
                var para=document.createElement("p");
                var node=document.createTextNode(files[0].name);
                para.appendChild(node);

                var element=document.getElementById("div_img");
                element.appendChild(para);
            },

            progress: function(percent) {
                percent = Math.ceil(percent);
                bar.css("width", percent+"%").text(percent+"%");
            },

            allcomplete: function(response) {

                bar.css("width", "100%").text("100%");

                setTimeout(function(){
                    progressbar.addClass("uk-hidden");
                }, 250);

                alert("Upload Completed");
                image=image+';'+response.path;
            }
        };

        var select = UIkit.uploadSelect($("#upload-select"), settings),
            drop   = UIkit.uploadDrop($("#upload-drop"), settings);

});
</script>

{% endblock %}

{% block content %}
<div class="uk-width-1-1 uk-margin-bottom">
    <div class="uk-panel uk-panel-box">
        <ul class="uk-breadcrumb">
            <li><a href="/manage/comments">评论</a></li>
            <li><a href="/manage/blogs">日志</a></li>
            <li><a href="/manage/users">用户</a></li>
        </ul>
    </div>
</div>

<div id="error" class="uk-width-1-1">
</div>

<div id="loading" class="uk-width-1-1 uk-text-center">
    <span><i class="uk-icon-spinner uk-icon-medium uk-icon-spin"></i>正在加载...</span>
</div>

<div id="vm" class="uk-width-2-3">
    <form v-on:submit="submit" class="uk-form uk-form-stacked">
        <div class="uk-alert uk-alert-danger uk-hidden"></div>
        <div class="form-row">
            <label class="uk-form-label">标题:</label>
            <div class="uk-form-controls">
                <input type="text" name="name" v-model="name" placeholder="标题" class="uk-width-1-1">
            </div>
        </div>
        <div class="uk-form-row">
            <label class="uk-form-label">摘要:</label>
            <div class="uk-form-controls">
                <textarea v-model="summary" rows="4" name="summary" placeholder="摘要" class="uk-width-1-1" style="resize:none;"></textarea>
            </div>
        </div>
        <div class="uk-form-row">
            <label class="uk-form-label">内容:</label>
            <div class="uk-form-controls">
                <textarea v-model="content" rows="16" name="content" placeholder="内容" class="uk-width-1-1" style="resize: none;"></textarea>
            </div>
        </div>

        <div id="upload-drop" class="uk-placeholder uk-text-center">
            <i class="uk-icon-cloud-upload uk-icon-medium uk-text-muted uk-margin-small-right"></i>
            将文件拖拽至此 或 <input id="upload-select" type="file">
        </div>

        <div id="progressbar" class="uk-progress uk-hidden">
            <div class="uk-progress-bar" style="width: 0%;">...</div>
        </div>
        <div id="div_img" class="uk-form-row">

        </div>

        <div class="uk-form-row">
            <button type="submit" class="uk-button uk-button-primary">提交</button>
            <a href="/manage/blogs" class="uk-button"><i class="uk-icon-times"></i>取消</a>
        </div>
    </form>
</div>
{% endblock %}
